<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bloodbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".HomePage" />
        <activity android:name=".ForgotPasswordAdmin" />
        <activity android:name=".CheckStock" />
        <activity android:name=".BloodTransaction" />
        <activity android:name=".AddTransaction" />
        <activity android:name=".UpdateProfile" />
        <activity android:name=".StartProfile" />
        <activity android:name=".Profile" />
        <activity android:name=".Navigation" />
        <activity android:name=".ForgotPassword" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewUserSignUP" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>